<!DOCTYPE html>
{% macro err_popup() %}
{% if message is defined %}  <!-- action para cuando se pulsa el botón enviar el formulario -->
    <!-- El Popup -->
  <div id="popup" class="popup">
    <div class="popup-content">
        <span id="closePopup" class="close">&times;</span>
        <h2>Error</h2>
        <p>{{message}}</p>
    </div>
  </div>
{% endif %}
{% endmacro %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Custom CSS -->
  {% block customCSS %}
  {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
