{% extends "./base.html" %}

{% block title %}Pokédex - PokeQuest{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pokedex_styles.css')}}">
{% endblock %}

{% block body %}
    <main>
        <section id="pokedex-grid" class="pokedex-grid">
            <!-- Aquí se agregarán dinámicamente los Pokémon -->
        </section>
        <button id="load-more" class="load-more">Load More</button>
    </main>
    <footer>
        <p>© 2024 - PokeQuest</p>
    </footer>
    <script src="{{ url_for('static', filename='js/pokedex.js') }}"></script>
{% endblock %}