{% extends "./base.html" %}

{% block title %}Pokédex- PokeQuest{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pokedex_info_styles.css')}}">
{% endblock %}

{% block body %}
    <div class="pokedex">
        <div class="header">Pokédex</div>
        <div class="screen">
            <div class="pokemon-image">
                <img src={{ img }} alt="Pokemon Image" id="pokemon-image">
            </div>
            <div class="pokemon-info">
                <div class="info" id="pokemon-id">ID: {{ id }}</div>
                <div class="info" id="pokemon-name">Name: {{ name }}</div>
                <div class="info" id="pokemon-types">Type: {{ type }}</div>
                <div class="info" id="pokemon-height">Height: {{ height }}m</div>
                <div class="info" id="pokemon-weight">Weight: {{ weight }}kg</div>
                <div class="info" id="pokemon-habitat">Habitat: {{ habitat }}</div>
                <div class="info" id="pokemon-habilities">Abilities: {{ abilities }}</div>
                <div class="info" id="pokemon-is-legendary">Legendary: {{ legendary }}</div>
            </div>
        </div>
        <div class="stats">
            <div class="stat-bar">
                <span>HP</span>
                <div style="width: {{ hp }}%;"></div>
            </div>
            <div class="stat-bar">
                <span>Attack</span>
                <div style="width: {{ attack }}%;"></div>
            </div>
            <div class="stat-bar">
                <span>Defense</span>
                <div style="width: {{ defense }}%;"></div>
            </div>
            <div class="stat-bar">
                <span>Special attack</span>
                <div style="width: {{ special_attack }}%;"></div>
            </div>
            <div class="stat-bar">
                <span>Special defense</span>
                <div style="width: {{ special_defense }}%;"></div>
            </div>
            <div class="stat-bar">
                <span>Speed</span>
                <div style="width: {{ speed }}%;"></div>
            </div>
        </div>
    </div>
        <!-- Menú superior derecho -->
    <div class="top-menu">
            <img id="exitBtn" src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Cross" class="icon">
    </div>
    <script>
        // Seleccionamos todas las barras
        const bars = document.querySelectorAll('.stat-bar div');
    
        bars.forEach(bar => {
            // Obtenemos el ancho de la barra como número
            const width = parseInt(bar.style.width);
    
            // Aplicamos colores según el rango
            if (width < 30) {
                bar.style.backgroundColor = '#990000'; 
            } else if (width < 60) {
                bar.style.backgroundColor = '#ff8f00';
            } else {
                bar.style.backgroundColor = '#00ff04'; 
            }
        });
    </script>
</body>
</html>
{% endblock %}