{% extends "./base.html" %}

{% block title %}Play - PokeQuest{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/play_styles.css')}}">
{% endblock %}

{% block body %}
  <!-- Contenedor principal -->
  <div class="container">
    <!-- Pregunta en la parte superior -->
    <div class="question">
        {{ question.question }}
    </div>

    <!-- Contenedor de botones con imágenes de Pokémon -->
    <div class="buttons-container">
      <button class="pokemon-1-btn">
        <img src={{ img_pokemon_1 }} alt="{{name_pokemon_1}}">
        <br>
        {{name_pokemon_1}}
      </button>

      <button class="pokemon-2-btn">
        <img width="256" src={{ img_pokemon_2 }} alt="{{name_pokemon_2}}">
        <br>
        {{name_pokemon_2}}
      </button>
    </div>

    <!-- Score en la parte inferior derecha -->
    <div class="score">
      Score = {{ score }}
    </div>

    <!-- Menú superior derecho -->
    <div class="top-menu">
        <img id="exitBtn" src="https://img.icons8.com/ios-filled/50/000000/delete-sign.png" alt="Cross" class="icon">
    </div>
  </div>
  <script> 
    const questionKey = "{{ question_key }}"


    // Eventos para cada posible opción (pokémon 1 vs pokémon 2)
    document.getElementById("pokemon-1-btn").addEventListener("click", function() {
        window.location.href = "{{ url_for('play') }}" + 
            "?question_key=" + question_key  + 
            "&pokemon1=" + encodeURIComponent(pokemon1) + 
            "&pokemon2=" + encodeURIComponent(pokemon2);
    });

    document.getElementById("pokemon-2-btn").addEventListener("click", function() {
      window.location.href = "{{ url_for('play') }}";
      $.post("")
    });

    // Salir del modo juego
    document.getElementById("exitBtn").addEventListener("click", function() {
      window.location.href = "{{ url_for('menu') }}";
    });
</script>
{% endblock %}